<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Care General</a></strong>
			- CareGeneral centralizes and organizes health information, care directives, files, instruction, and updates, helping you and all members of your care team better understand, coordinate and manage the care process. With our mobile and web-based application, CareGeneral helps you build customized care plans, track progress and compliance, and communicate with members of your care team on a real time basis. You can manage and monitor daily tasks (i.e. medications), post comments, videos, or files to share privately or with all members of your care team, and record critical health statistics such as blood pressure and cholesterol. With CareGeneral all members of your team are coordinated and in-sync at all times.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Tweli</a></strong>
			- Tweli began with a simple idea: selling and buying are better in video.

Beyond pictures, beyond text — video enables sellers to create a fully immersive shopping experience. 
And through video, shoppers feel more confident in the products they buy and the people they buy from.

Tweli is a platform built just for that. With shoppable videos, and our easy-to-use tools for creating them, now anyone can showcase their products, tell their stories, and inspire purchases — like never before.
		</h4>
    	<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Pype</a></strong>
			- Pype provide’s software solutions, which are innovative and super productive for our users. We leverage technology and build software for streamlining construction business processes. Our products automate construction business processes in a manner where productivity is realized in a few clicks within our software. We are dramatically changing the way certain business processes in the construction industry are handled using our Software Some GC’s even call us game changers.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">7atlis</a></strong>
			- AAPC is the nation's largest training and credentialing organization for the business side of healthcare. Our certified members in medical coding, medical billing, medical auditing, compliance, and practice management represent the highest level of expertise in the industry.
		</h4>
		
    </div>
  </div>
</div>
</section>
